<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BuildCost</title>
    <script src="static/js/script.js"></script>
  </head>
  <body>
    <h1>Takeoff and Estimation</h1>

    <article id="input section">
      <h2>Component Type</h2>
      <p>Select the building element type</p>

      <form action="/" method="get">

        <fieldset>
          <legend>Concrete in Trench dimensions</legend>
          <p>
            <label for="length">Length</label>
            <input
              type="number"
              name="length"
              id="length"
              placeholder="1000"
              autocomplete="off"
              required
            />
          </p>
          <p>
            <label for="width">Width</label>
            <input
              type="number"
              name="width"
              id="width"
              placeholder="1000"
              autocomplete="off"
              required
            />
          </p>
          <p>
            <label for="height">Height</label>
            <input
              type="number"
              name="height"
              id="height"
              placeholder="1000"
              autocomplete="off"
              required
            />
          </p>
        </fieldset>
        <fieldset>
          <p>
            <label for="elements"> Component Type:</label>
            <select name="elements" id="elements" multiple size="5">
              <optgroup label="E. Insitu Concrete">
                <option value="concrete in trench">
                  Concrete in Trench Excavation
                </option>
                <option value="concrete in pit">Concrete in Column Pits</option>
              </optgroup>
              <optgroup label="F. Masonary">
                <option value="blockwork in foundation">
                  Blockwork in foundation
                </option>
                <option value="blockwork in walls">Blockwork in Walls</option>
              </optgroup>
            </select>
          </p>
        </fieldset>
      </form>
    </article>
  </body>
</html>
