<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <h1>Reset Password</h1>
    <form id="reset-password-form">
      <input type="hidden" id="token" value="{{ token }}" />
      <p>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required />
      </p>
      <button type="button" id="submit-reset">Reset Password</button>
    </form>
    <section>
      <h3>Didn't get your reset link?</h3>
      <input type="email" id="resend-reset-email" placeholder="Your email" />
      <button type="button" id="resend-reset-btn">Resend Reset Link</button>
    </section>

    <script src="static/js/auth.js"></script>
  </body>
</html>
